html, body {
	background-color: #EEF2FF;
	font-family: georgia, trebuchet, serif;
	font-size: 14px;
}

hr {
	width: 90%;
	border: 0 none;
}

a {
	color: #34345C;
	text-decoration: none;
}

.header {
	font-size: 25pt;
	font-family: georgia, trebuchet, serif;
	color: #AF0A0F;
	text-align: center;
}

.postform table {
	margin: 0 auto;
	text-align: left;
}

.postform table th {
	background: #98E;
}

.oppost img {
	float: left;
	margin: 5px 20px 10px 20px;
}

.oppost form {
	float: left;
	margin: 5px 5px;
}

.filename em {
	font-size: 10px;
}

.subject {
	color: #0F0C5D;
	font-weight: 800;
}

.name {
	color: green;
	font-weight: bold;
}

.oppost p {
	margin-left: 7em;
	padding-left: 12em;
}

.footer {
	text-align: center;
}